# libubootenv configuration — tells fw_printenv/fw_setenv where the U-Boot
# environment partition is.
#
# The 'uenv' GPT partition is 512 KB.  Offset 0x0, size 0x20000 (128 KB).
# A second copy at 0x20000 is the redundant env (U-Boot CONFIG_ENV_REDUNDANT).
#
# Device                              Offset       Size       Sector-size
/dev/disk/by-partlabel/uenv           0x00000000   0x00020000
/dev/disk/by-partlabel/uenv           0x00020000   0x00020000
